<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crop Yield Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="topbar">
    <h1>🌾 Crop Yield Analysis Dashboard</h1>
</header>

<div class="layout">

    <!-- Sidebar -->
    <nav class="sidebar">
        <ul>
            <li>
                <a href="{{ url_for('data_loading') }}"
                   class="menu-item {% if active == 'data-loading' %}active{% endif %}">
                    Data Loading
                </a>
            </li>

            <li>
                <a href="{{ url_for('eda_page') }}"
                   class="menu-item {% if active == 'eda' %}active{% endif %}">
                    EDA
                </a>
            </li>

            <li>
    <a
        href="{{ url_for('preprocessing_page') }}"
        class="menu-item
        {% if active == 'preprocessing' %}
        active
        {% endif %}"
    >
        Preprocessing
    </a>
</li>
            <li class="menu-item disabled">Model</li>
        </ul>
    </nav>

    <!-- CONTENT -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>